<div id="footerMaster" class="">
    <div class="bottomline noPadding">
        <div class="blue col-xs-10 col-sm-10 col-md-10 col-lg-10"></div>
        <div class="orange col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
        <div class="darkblue col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
    </div>
    <div id="footerWrapper">
        <div id="footerPanes" class="container">
            <div class="row">		
                <div id="footerPane01" class="FooterPane01 col-md-3 col-sm-6 col-xs-12 footerPane">
                    <h4>Bezoekadres Meppel</h4>
                    <p>Blankenstein 150<br>7943 PE Meppel</p>
                    <p>Tel: <a href="#" class="telNr">088 - 6699500</a><br>Tel buiten NL: <a href="#" class="telNr">+31 (0)522 243600</a></p>
                    <p>Postadres:<br>Postbus 333<br>7940 AH Meppel</p>
                    <p>E-mail: <a href="mailto:info@eoc.nl">info@eoc.nl</a></p>
                </div>
                <div id="footerPane02" class="FooterPane02 col-md-3 col-sm-6 col-xs-12 footerPane">
                    <h4>Bezoekadres Zwijndrecht</h4>
                    <p>Scheepmakerij 340<br>3331 MC Zwijndrecht</p>
                    <br>
                    <h4>Volg ons op Social Media</h4>
                    <div id="socialWrap">
                        <a href="#" target="_blank" id="youtube"></a>
                        <a href="#" target="_blank" id="facebook"></a>
                        <a href="#" target="_blank" id="twitter"></a>
                    </div>
                </div>
                <div id="dnn_footerPane03" class="FooterPane03 col-md-3 col-sm-6 col-xs-12 footerPane">
                    <div class="DnnModule DnnModule-DNN_HTML DnnModule-2638"><a name="2638"></a>
                        <div class="DNNContainer_Title_h4">
                            <h4 class="modTitle">
                                <span id="dnn_ctr2638_dnnTITLE_titleLabel" class="TitleH4">EOC Scheepsverzekeringen</span>
                            </h4>
                            <div id="dnn_ctr2638_ContentPane">
                                <!-- Start_Module_2638 -->
                                <div id="dnn_ctr2638_ModuleContent" class="DNNModuleContent ModDNNHTMLC">
                                    <div id="dnn_ctr2638_HtmlModule_lblContent" class="Normal">
                                        <a href="#">Beroepsvaart</a><br>
                                        <a href="#">Pleziervaart</a><br>
                                        <a href="#">Charter- en passagiersvaart</a><br>
                                        <a href="#">Wonen op het water</a><br>
                                        <p>
                                            <a href="/disclaimer">Disclaimer</a>
                                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
                                            <a href="/Privacy-policy">Privacy Policy</a>
                                        </p>
                                    </div>
                                </div>
                            <!-- End_Module_2638 -->
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div id="dnn_footerPane04" class="FooterPane04 col-md-3 col-sm-6 col-xs-12 footerPane">
                    <div class="DnnModule DnnModule-ActionForm DnnModule-2640">
                        <a name="2640"></a>
                        <div class="DNNContainer_noTitle">
                            <div id="dnn_ctr2640_ContentPane">
                                <!-- Start_Module_2640 -->
                                <div id="dnn_ctr2640_ModuleContent" class="DNNModuleContent ModActionFormC">
                                    <div class="bstrap30">
                                        <div id="dnn_ctr2640_Main_cFormTemplate">
                                            <div id="dnn_ctr2640_Main_phFormTemplate" class="phFormTemplate ui-lightness">
                                                <div class="row">
                                                    <div class="c-form  form-horizontal normal label-align-top col-sm-12 ">
                                                        <div class="form-group">
                                                            <div class="field-container af-slide  col-sm-12 ">
                                                                <input type="text" style="width:0!important;height:0!important;opacity:0!important;position:absolute!important;" tabindex="-1" name="dnn2640Koptekst" value="Ik wil graag tweemaal per jaar de EOC info digitaal ontvangen." class="ng-pristine ng-valid">
                                                                <p style="margin: 4px 4px;" name="dnn2640Koptekst" class="ng-binding ng-pristine ng-valid">
                                                                Ik wil graag tweemaal per jaar de EOC info digitaal ontvangen.
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="field-container af-slide  col-sm-12 ">
                                                                <div class="label-top">
                                                                    <label for="dnn2640Naam" class="control-label af-slide  required " style="">
                                                                    Naam </label>
                                                                </div>
                                                                <input class="form-control required ng-pristine ng-valid" id="dnn2640Naam" name="dnn2640Naam" type="text" placeholder="">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="field-container af-slide  col-sm-12 ">
                                                                <div class="label-top">
                                                                    <label for="dnn2640Scheepsnaam" class="control-label af-slide" style="">
                                                                    Scheepsnaam </label>
                                                                </div>
                                                                <input class="form-control ng-pristine ng-valid" id="dnn2640Scheepsnaam" name="dnn2640Scheepsnaam" type="text" placeholder="">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="field-container af-slide  col-sm-12 ">
                                                                <div class="label-top">
                                                                    <label for="dnn2640Emailadres" class="control-label af-slide  required " style="">
                                                                    E-mailadres </label>
                                                                </div>
                                                                <input class="email2640  form-control required ng-pristine ng-valid" id="dnn2640Emailadres" name="dnn2640Emailadres" type="text" placeholder="">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="field-container af-slide  col-sm-12 btn-form btnc  btnc-left">
                                                                <button type="button" class="btn submit form-button af-btn-loading btn-normal btn-info" id="dnn2640sendBtn" style="">Verzenden</button>
                                                            </div>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                        <div class="alert alert-danger server-error" style="display: none;"></div>
                                                    </div>
                                                    <div class="alert alert-info submit-confirm" style="display: none; text-align: center;"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End_Module_2640 -->
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>