$font-stack:    Arial, Helvetica, sans-serif;
$primary-color: #13235B;
$heading-color-blue: #00437a;
$heading-color-white: #ffffff;
$heading-background-blue: #0076bd;

#funnelContainer {
    fieldset {
        margin-bottom: 20px;
    }
}