<div id="dnn_SliderPane" class="sliderPane col-md-12 col-sm-12">
    <div class="DnnModule DnnModule-DNN_HTML DnnModule-2845">
        <a name="2845"></a>
        <div class="DNNContainer_Title_h2">
            <h2 class="modTitle">
                <span id="dnn_ctr2845_dnnTITLE_titleLabel" class="TitleH2"></span>
            </h2>
            <div id="dnn_ctr2845_ContentPane">
                <!-- Start_Module_2845 -->
                <div id="dnn_ctr2845_ModuleContent" class="DNNModuleContent ModDNNHTMLC">
                    <div id="dnn_ctr2845_HtmlModule_lblContent" class="Normal">
                        <h3 style="text-align: center; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; line-height: 19.5px; letter-spacing: normal;">Indien u de QR-codes uit de papieren EOC info niet kunt scannen, download dan de&nbsp;<a href="#" target="_blank" style="line-height: 19.5px;">NeoReader - QR&amp; Mobile Barcode Scanner</a>&nbsp;in uw AppStore</h3>
                    </div>
                </div>
                <!-- End_Module_2845 -->
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div id="mobileButtonsWrap" class="col-xs-12 hidden-sm hidden-md hidden-lg">
    <a href="#" class="blockBtn">Schade melden</a>
    <a href="#" class="blockBtn">Wijzigingen doorgeven</a>
</div>
<div id="dnn_ContentPane" class="contentPane col-md-6 col-sm-12 DNNEmptyPane"></div>
<div id="HomeBlocksPane">
    <a id="block1" class="block col-sx-12 col-sm-6 col-md-6 col-lg-6" href="#">
        <img src="/assets/images/beroepsvaart.jpg" class="img-responsive" alt="Beroepsvaart">
        <span>Beroepsvaart</span>
    </a>
    <a id="block2" class="block col-sx-12 col-sm-6 col-md-6 col-lg-6" href="#">
        <img src="/assets/images/pleziervaart.jpg" class="img-responsive" alt="Pleziervaart">
        <span>Pleziervaart</span>
    </a>
    <a id="block3" class="block col-sx-12 col-sm-6 col-md-6 col-lg-6" href="#">
        <img src="/assets/images/chartervaart.jpg" class="img-responsive" alt="Charter- en passagiersvaart">
        <span>Charter- en passagiersvaart</span>
    </a>
    <a id="block4" class="block col-sx-12 col-sm-6 col-md-6 col-lg-6" href="#">
        <img src="/assets/images/wonenophetwater.jpg" class="img-responsive" alt="Wonen op het water">
        <span>Wonen op het water</span>
    </a>
    <div class="clearBoth"></div>
</div>
<div id="dnn_BottomPane" class="bottomPane col-md-12 col-sm-12">
    <div class="DnnModule DnnModule-DNN_UserDefinedTable DnnModule-2614">
        <a name="2614"></a>
        <div class="DNNContainer_noTitle">
            <div id="dnn_ctr2614_ContentPane">
                <!-- Start_Module_2614 -->
                <div id="dnn_ctr2614_ModuleContent" class="DNNModuleContent ModDNNUserDefinedTableC">
                    <div id="dnn_ctr2614_Default_PlaceHolderControl" class="dnnFormAndList">
                        <div class="dnnForm dnnClear">
                            <div id="callToActionMaster">
                                <div class="callToActionWrap col-xs-6 col-sm-4 col-md-2 col-lg-2">
                                    <a class="c2a transFx Lichtblauw" href="#">
                                        <img class="c2aIcon" src="/assets/images/schade.png" alt="Schade melden">
                                        Schade melden
                                    </a>
                                </div>
                                <div class="callToActionWrap col-xs-6 col-sm-4 col-md-2 col-lg-2">
                                    <a class="c2a transFx Oranje" href="/funnel">
                                        <img class="c2aIcon" src="/assets/images/offerte.png" alt="Offerte aanvragen">
                                        Offerte aanvragen
                                    </a>
                                </div>
                                <div class="callToActionWrap col-xs-6 col-sm-4 col-md-2 col-lg-2">
                                    <a class="c2a transFx Oranje" href="#">
                                        <img class="c2aIcon" src="/assets/images/afspraak.png" alt="Online afspraak maken">
                                        Online afspraak maken
                                    </a>
                                </div>
                                <div class="callToActionWrap col-xs-6 col-sm-4 col-md-2 col-lg-2">
                                    <a class="c2a transFx Donkerblauw" href="#">
                                        <img class="c2aIcon" src="/assets/images/vlag.png" alt="Vlag aanvragen">
                                        Vlag aanvragen
                                    </a>
                                </div>
                                <div class="callToActionWrap col-xs-6 col-sm-4 col-md-2 col-lg-2">
                                    <a class="c2a transFx Donkerblauw" href="#">
                                        <img class="c2aIcon" src="/assets/images/springkussen.png" alt="Springkussen aanvragen">
                                        Springkussen aanvragen
                                    </a>
                                </div>
                                <div class="callToActionWrap col-xs-6 col-sm-4 col-md-2 col-lg-2">
                                    <a class="c2a transFx Donkerblauw" href="#">
                                        <img class="c2aIcon" src="/assets/images/EOC-info-icon.png" alt="EOC INFO">
                                        EOC INFO
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- End_Module_2614 -->
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>