<div id="headWrapper">
    <div id="topWrapper">
        <div class="container">
            <div id="headerWrap" class="row">
                <div id="topLeftWrap" class="col-xs-4 col-sm-3 col-md-3 pull-left">
                    <a id="logoEOC" href="/">
                        <img src="/assets/images/logo-eoc.svg" class="img-responsive" alt="EOC Voortvarend Verzekerd" />
                    </a> 			
                </div>
                <div class="payoff hidden-xs hidden-sm col-md-6">Dé <em>onderlinge specialist</em> in scheepsverzekeringen</div>
                <div class="telWrap col-xs-5 col-sm-6 col-md-3 col-lg-3">
                    <div id="topRightWrap">
                        <p class="telnreoc">Tel. 
                            <span id="telBreak">
                                <br />
                            </span>088 - 6699500
                        </p>
                        <p class="telLabel hidden-xs">
                            <a href="#">
                                <strong>Ik wil graag teruggebeld worden</strong>
                            </a>
                        </p>
                    </div>
                    <div class="dnn-search hidden-sm hidden-xs">
                        <span id="dnn_dnnSEARCHMobile_ClassicSearch">
                            <span class="searchInputContainer" data-moreresults="Meer resultaten weergeven" data-noresult="Geen resultaten gevonden">
                                <input name="dnn$dnnSEARCHMobile$txtSearch" type="text" maxlength="255" size="20" id="dnn_dnnSEARCHMobile_txtSearch" class="NormalTextBox" autocomplete="off" placeholder="Zoeken...">
                            </span>
                            <a id="dnn_dnnSEARCHMobile_cmdSearch" class="ServerSkinWidget" href="javascript:alert('zoek en gij zult vinden')">
                                <img src="/assets/images/btnSearchMobile.jpg" alt="Zoek" title="Zoek" />
                            </a>
                        </span>
                    </div>
                </div>
                <div id="mobMenuBtnWrap" class="col-xs-3 col-sm-2 hidden-md hidden-lg pull-right">
                    <button id="mobMenuBtn" class="sb-toggle-left" type="button">
                        <div id="mobMenuIcon">
                            <span class="iconMobMenu first"></span>
                            <span class="iconMobMenu"></span>
                            <span class="iconMobMenu"></span>
                        </div>
                    </button>				
                </div>
            </div>
        </div>
    </div>
    <!-- // topWrapper -->
    <div id="mainNav">
        <div id="topWrap" class="container">
            <div class="row">
                <div id="navMaster" class="hidden-xs hidden-sm col-md-12 col-lg-12">							
                    <div id="megaMenuWrapper">												
                        <ul class="megamenu" id="megamenu">
                            <li class="level0 current">
                                <a class="level0 current" href="#">Home</a>
                            </li>
                            <li class="level0 ">
                                <a class="level0 " href="#">EOC&nbsp;</a>
                            </li>
                            <li class="level0">
                                <a class="level0" href="#">Verzekeringen&nbsp;</a>
                            </li>
                            <li class="level0">
                                <a class="level0" href="#">Aanvullende diensten&nbsp;</a>
                            </li>
                            <li class="level0">
                                <a class="level0" href="#">Kennisbank&nbsp;</a>
                            </li>
                            <li class="level0">
                                <a class="level0 " href="#">Expertise&nbsp;</a>
                            </li>
                            <li class="level0">
                                <a class="level0 " href="#">Nieuws en Media&nbsp;</a>
                            </li>
                            <li class="level0">
                                <a class="level0" href="#">Contact&nbsp;</a>
                            </li>
                            <li class="level0">
                                <a class="level0 " href="#">Schade melden</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- // navMain -->
    <div id="breadWrap">
            <div class="container">
                <div class="row">
                    <div class="breadCrumb hidden-xs hidden-sm col-md-12 col-lg-12">
                        U bevindt zich hier: 
                        <span id="dnn_dnnBreadCrumb_lblBreadCrumb">
                            <a href="#" class="SkinObject">Home</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
</div>